<html>
<head>
</head>
   <body>
   <div>
      <p><h4>Ask questions in proper format like: What is ..., who is ..., where is ... , etc.</h4>
		<h5>Domain of content is Wikipedia.<h5></p>
	</div>
      <form action = "/result" method = "POST">
         <p>Question: <input type = "text" name = "question" /></p>
         <p>Topic(If any): <input type = "text" name = "topic" /></p>
         <p>Passage(If any): <input type = "text" name = "passage" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>